doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(name="description" content="Gabriel Almeida")

    title Gabriel Almeida 

    // Stylesheets
    link(rel="stylesheet", href="lib/normalize.css/normalize.css")
    link(rel="stylesheet", href="stylesheets/style.min.css")

    // Javascripts
    script(src="lib/jquery/dist/jquery.min.js")

  body 
    h1 Gabriel Almeida
    h2 &#104;&#101;&#121;&#064;&#103;&#097;&#098;&#114;&#105;&#101;&#108;&#097;&#108;&#109;&#101;&#105;&#100;&#097;&#046;&#109;&#101; 
  script(src="lib/wow/dist/wow.min.js")
  script(src="js/app.js")
